/* Reset CSS */
@import url(http://reset5.googlecode.com/hg/reset.min.css);

/* Begin my CSS */
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(85, 85, 85);
}

h1, h2, h3 {
    font-family: 'Roboto Slab';
    text-rendering: optimizeLegibility;
    color: rgb(60, 60, 60);
}

h1 {
    margin: 15px 0px;
    font-size: 2em;
    border-top-left-radius: 9px;
}

h2 {
    font-size: 1.6em;
    margin: 12px 0px;
}

h3 {
    font-size: 1.3em;
    margin: 8px 0px;
}

header.page-header, footer.page-footer, nav {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}

footer.page-footer {
    border-bottom-left-radius: 9px;
    margin-bottom:20px;
}

h1, footer.page-footer {
    padding: 6px 12px;

    background: -webkit-linear-gradient(right, lightcoral, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, lightcoral, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, lightcoral, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, lightblue, #fff); /* Standard syntax */
}

nav {
    margin: 6px 5%;
    margin-bottom: 0;
}

nav li {
    display: inline-block;
    padding-bottom: 2px;
    cursor: pointer;
    padding: 2px 4px;
    padding-bottom: 4px;
    border-radius: 6px;
}

nav li:hover {
    color: black;
    background-color: lightcoral;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

p {
    margin-bottom: 10px;
    text-indent: 2em;
    line-height: 1.5em;
    text-align: justify;
}

article {
    width: 65%;
    float: left;
    overflow: hidden;
    margin-left: 5%;
}

aside {
    width: 18%;
    float: right;
    overflow: hidden;;
    padding: 6px 2%;
    margin-right: 5%;
    margin-left: 2%;
    border-left: 1px solid rgb(155, 155, 155);
}

aside p {
    font-size: 0.9em;
    line-height: 1.3em;
    text-align: left;
}

a {
    color: rgb(85, 85, 85);
    -webkit-transition: color 1s;
    transition: color 1s;
}

a:hover {
    color: blue;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

img.img-left {
    float: left;
    margin-right: 8px;
    margin-bottom: 2px;
}

img.img-right {
    float: right;
    margin-left: 8px;
    margin-bottom: 2px;
}

/* Tweaks for iPhone and Android phones */
@media only screen and (max-device-width: 480px) {
    article, aside, header.page-header, footer.page-footer {
        width: 90%;
        margin-left: 3%;
        clear: both;
    }

    aside {
        padding-top: 0px;
        margin-top: 0px;
        border: none;
        border-top: 1px solid rgb(155, 155, 155);
        padding-bottom: 0;
    }
}